body {
	font-family: Ubuntu;
	background: #FAFAFA;
	margin: 0;
	cursor: default;
	text-align: right;
}
::-webkit-scrollbar {display: none;}
#time {
	font-weight: bold;
	position: fixed;
	text-transform: uppercase;
	text-align: center;
	z-index: -1;
	font-size: 200px;
	width: 600px;
	padding: 10px 0;
	margin: 150px auto; left: 0; right: 0;
	background: #222;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 10px 30px -10px black;
}
#box {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	opacity: 0;
	background: #FAFAFA;
	transition: all 0.1s ease-in-out;
}
footer {
	background: #222;
	text-align: center;
	color: #FFF;
	padding: 10px 0;
}
footer ul {
	padding: 0;
}
*:hover #box{opacity: 1;}
.category {
	color: #FFF;
	font-weight: bold;
	font-size: 64px;
	background: #222;
	display: inline-block;
	padding: 0 10px;
	margin: 0 20px;
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
}
.cat:hover .category {
	color: #F29937;
}
ul {
	list-style: none;
	padding: 0 0 30px 0;
	margin: 0 20px;
}
li {
	margin-left: 10px;
	display: inline;
	font-size: 42px;
}
a {
	text-decoration: none;
	color: #333;
	padding: 10px 10px 10px 10px;
	transition: all 0.1s ease-in-out;
	display: inline-block;
}
a:hover {
	transform: scale(1.18);
	color: #F29937;
}
hr {
	height: 2px;
	width: 80%;
	border: 0;
	background: #222;
}
